body{
	height: 100%;
	font-family: Microsoft YaHei, Verdana, sans-serif, '宋体'!important;
}
.color_f19149{
	color: #f19149;
}
.color_47a0fe{
	color: #47a0fe;
}
/*~~~~~~~~~~color~~~~~~~~~~*/
.bg_f19149{
	background-color: #f19149;
}
.bg_efefef{
	background-color: #efefef;
}
.bg_00c8b4{
	background-color: #00c8b4;
}
.bg_47a0fe{
	background-color: #47a0fe;
}
/*~~~~~~~~~~common head~~~~~~~~~~*/
.common_header_wrapper
{
	position: relative;
	z-index: 1;

	width: 100%;
	height: 2rem;

	background: #fff;
}

.common_header_wrapper .right_btn, .common_header_wrapper .left_btn
{
	font-size: 0.75rem;
	line-height: 2rem;

	position: absolute;
	z-index: 1;
	top: 0;

	height: 100%;
	margin: 0 0.4rem;
	padding: 0 0.5rem;
}

.common_header_wrapper .title
{
	font-size: 0.75rem;
	line-height: 2.5rem;

	text-align: center;

	color: #fff;
}

.common_header_wrapper .right_btn
{
	right: 0;
}

.common_header_wrapper .right_btn:hover,
.common_header_wrapper .right_btn:focus
{
	color: #fff;
}

.common_header_wrapper .left_btn
{
	left: 0;
}

.common_header_wrapper .add_btn span
{
	font-size: 1.5rem;
	line-height: 2rem;

	color: #fff;
}

.common_header_wrapper .back_btn span
{
	font-size: 1rem;
	line-height: 2rem;

	color: #000;
}

.common_header_wrapper .action_btn
{
	line-height: 1.1rem;

	height: 1.1rem;
	margin: 0.5rem;
	padding: 0 0.6rem;

	border-radius: 0.6rem;
	border: 1px solid #fff;
}

.common_header_wrapper .orange_btn
{
	line-height: 26px;

	height: 26px;
	margin: 8px;
	padding: 0 20px;

	border-radius: 1rem;
	background-color: #ff6f29;
}

.common_header_wrapper .setting_btn span
{
	font-size: 29px;
	line-height: 42px;

	color: #fff;
}

.common_header_wrapper .share_btn span
{
	font-size: 26px;
	line-height: 40px;

	color: #fff;
}

.common_header_wrapper .list_btn span
{
	font-size: 30px;
	line-height: 40px;

	color: #fff;
}

.common_header_wrapper .left_angle span
{
	font-size: 26px;
	line-height: 40px;

	color: #fff;
}

.common_header_wrapper .upload_btn span
{
	font-size: 24px;
	line-height: 40px;

	color: #fff;
}

/*.common_header_wrapper .search_btn span{
	color: #fff;
	font-size: 24px;
	line-height: 42px;
}*/

.common_header_wrapper a:hover,
.common_header_wrapper a:active
{
	color: #fff;
}

.common_header_wrapper li:first-child, .common_header_wrapper a
{
	color: #fff;
}

.common_header_wrapper li:before
{
	padding: 0 0 0 5px;

	content: ' / ';
}

.common_header_wrapper li:after
{
	content: ' ';
}

.common_header_wrapper li:first-child:before
{
	content: ' ';
}

.common_header_wrapper p
{
	font-size: 0.7rem;
	line-height: 2rem;

	position: relative;
	top: 0;

	overflow: hidden;

	width: 100%;
	max-width: 240px;
	height: 100%;
	margin: 0 auto;

	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;

	color: #000;
}

@media only screen and (max-width: 320px)
{
	.common_header_wrapper p
	{
		max-width: 230px;
	}
}

.common_header_wrapper label
{
	line-height: 40px;

	margin: 0 1em;
	/*	font-size: 0.9em;*/
}

.common_header_wrapper h5
{
	line-height: 2.5em;

	float: left;

	height: 2.5em;
	padding: 0 0 0 1em;
}

.common_header_wrapper .ok_item
{
	line-height: 1.5em;

	float: right;

	width: 2.5em;
	height: 1.5em;
	margin: 0 .5em;
	padding: 0 5px;

	text-align: center;

	color: #000;
	border-radius: 3px;
	background: #eee;
}

.ybwechat_list_wrapper .enter_btn
{
	position: absolute;
	top: 0;
	right: .25em;

	width: 40px;
	height: 40px;
	margin: 6% 2%;

	background-image: url(../img/m/sprite/yb3wechatheader_sprite_img_00000.png);
	background-repeat: no-repeat;
	background-position-x: 0;
	background-position-y: -55px;
	background-size: 1250%;
}

.common_header_wrapper ul
{
	position: absolute;
	z-index: 1;

	margin: 0 0 0 .5em;
}

.common_header_wrapper li
{
	font-size: 1em;
	line-height: 3.5em;

	position: absolute;
	left: 0;

	height: 100%;

	color: #000;
}

.ybwechatbtn_item
{
	font-size: 1em;
	line-height: 1.5em;

	display: block;

	margin: 0 auto;
	padding: .4em 3.5em;

	text-align: center;

	color: #fff;
	background: #89c539;
}

.ybwechatbtn_item:active
{
	color: #76b522;
	background: #90cc3d;
}

.ybwechatbtn_item[disable='disable']
{
	background: #d1d1d1;
}
/*~~~~~~~~~~popupclose_btn~~~~~~~~~~*/
.popupclose_btn{
	position: absolute;
	right: -0.5rem;
	top: -0.5rem;
	width: 1.5rem;
	height: 1.5rem;
	line-height: 1.5rem;
	box-shadow: 1px 1px 1px #ccc;
	border-radius: 50%;
	background: #fff;
	text-align: center;
	
	font-size: 1rem;
	color: #333;
}
.common_popuptitle_item{
	padding: 0.8rem 0.5rem;
	text-align: center;
	font-size: 0.8rem;
	border-bottom: 1px solid #d9d9d9;
}
/*~~~~~~~~~~common_btn~~~~~~~~~~*/
.common_btn{
	display: block;
	text-align: center;
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	color: #fff;
}
.halfwidth{
	width: 50%;
}
.common_loadmore_item{
	display: block;
	padding: 0.5rem 0;
	width: 100%;
	text-align: center;
	
	color: #ccc;
	vertical-align: middle;
	font-size: 0;
}
.common_loadmore_item a{
	display: inline-block;
	vertical-align: middle;
	font-size: 0.6rem;
}
/*~~~~~~~~~~common_block_wrapper~~~~~~~~~~*/
.common_block_wrapper{
	margin: 0.5rem 0 0 0;
	padding: 0.1rem 0;
	width: 100%;
	background-color: #fff;
	overflow: hidden;
}
.common_title_item{
	padding: 0.6rem;
	width: 100%;
	height: 2rem;
	line-height: 0.6rem;
	font-size: 0;
	background-color: #fff;
	box-sizing: border-box;
}
.common_title_item h6{
	display: inline-block;
	width: 14rem;
	line-height: 0.6rem;
	font-size: 0.6rem;
	vertical-align: middle;
}
.common_title_item span{
	display: inline-block;
	margin: 0 0.4rem 0 0;
	width: 0.2rem;
	height: 100%;
	vertical-align: middle;
}
.common_title_item h6 label{
	float: right;
}
.common_checkbox_item{
	display: block;
	margin: 0 auto;
	width: 0.8rem;
	height: 0.8rem;
	line-height: 0.8rem;
	background-color: #fff;
	border: 1px solid #999;
	border-radius: 50%;
	text-align: center;
}
.common_checkbox_item i{
	display: none;
	line-height: 0.8rem;
	font-size: 0.5rem;
}
.common_checkbox_item.active{
	background-color: #00c8b4;
	color: #fff;
	border-color: #00c8b4;
}
.common_checkbox_item.active i{
	display: block;
}
.common_procedure_wrapper{
	padding: 0.5rem 0;
	margin: 0 auto;
	width: 15rem;
	background-color: #fff;
}
.common_procedure_wrapper{
	
}
.common_procedure_wrapper li{
	display: inline-block;
	position: relative;
	width: 4.8rem;
}
.common_procedure_wrapper li div{
	display: block;
	margin: 0 auto;
}
.common_procedure_wrapper li label{
	display: block;
	margin: 0 auto;
	font-size: 0.6rem;
	text-align: center;
	width: 1rem;
	height: 1rem;
	line-height: 1rem;
	color: #fff;
	background-color: #b5b5b5;
	border-radius: 50%;
}
.common_procedure_wrapper li p{
	margin: 0.5rem 0 0 0;
	font-size: 0.5rem;
	text-align: center;
}
.common_procedure_wrapper li span{
	display: inline-block;
	width: 4.5rem;
	height: 0.3rem;
	background-color: #b5b5b5;
	position: absolute;
	right: 2.5rem;
	top: 0.35rem;
}