.main_container {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.popup_container {
	width: 100%;
	height: 100%;
	background: #8f8f8f;
	position: fixed;
	top: 0;
}
.popup_wrapper {
	margin: 1rem auto;
	width: 13rem;
	background: #fff;
	border-radius: 0.25rem;
	position: relative;
}
.loginmain_wrapper {
	padding: 0.5rem;
}
.loginmain_wrapper ul {
	margin: 0.5rem auto;
	width: 12rem;
}
.loginmain_wrapper li {
	width: 100%;
	height: 1.8rem;
	position: relative;
}
.loginmain_wrapper li:first-child input {
	border-bottom: none;
}
.loginmain_wrapper input {
	display: block;
	padding: 0 0.5rem;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	font-size: 0.8rem;
	border-top: 1px solid #d9d9d9;
	border-bottom: 1px solid #d9d9d9;
	border-left: 1px solid #d9d9d9;
	border-right: 1px solid #d9d9d9;
}
.loginform_wrapper a {
	position: absolute;
	top: 0;
	right: 0;
	width: 3.5rem;
	height: 100%;
	background-color: #00c8b4;
	font-size: 0.5rem;
	color: #fff;
	line-height: 1.8rem;
	text-align: center;
}
.encouragementpentagram
/*~~~~~~~~~~index.html~~~~~~~~~~*/

.index_carousel_wrapper {
	width: 100%;
}
.index_carousel_wrapper ul li img {
	display: block;
	width: 100%;
}
.index_todaytopic_wrapper {
	margin: 0.5rem 0;
	width: 100%;
	min-height: 3rem;
}
.index_todaytopic_wrapper a {
	display: block;
}
.index_todaytopic_wrapper img {
	display: block;
	width: 100%;
}
.index_rapidconsultation_wrapper {
	margin: 0.5rem 0;
	width: 100%;
	height: 3.9rem;
}
.index_rapidconsultation_wrapper a {
	display: block;
}
.index_rapidconsultation_wrapper img {
	width: 100%;
}
.index_consultinglist_wrapper {
	margin: 0 0 0.5rem 0;
	padding: 0 0 0 0.5rem;
	background-color: #fff;
}
.index_consultinglist_wrapper ul {
	overflow: hidden;
	border-top: 1px solid #e5e5e5;
}
.index_consultinglist_wrapper li {
	margin: 0.5rem 0;
}
.index_consultinglist_wrapper ul li a {
	display: block;
	overflow: hidden;
}
.index_consultinglist_wrapper .avatar {
	display: inline-block;
	margin: 0.2rem;
	width: 2.8rem;
	height: 2.8rem;
	border-radius: 50%;
	vertical-align: top;
}
.index_consultinglist_wrapper .content {
	display: inline-block;
	padding: 0 0 0.6rem 0;
	font-size: 0.5rem;
	vertical-align: middle;
	width: 12rem;
	border-bottom: 1px solid #e5e5e5;
}
.index_consultinglist_wrapper .content label {
	display: block;
	margin: 0.2rem 0;
	font-size: 0.7rem;
}
.index_consultinglist_wrapper .content p {
	height: 1.5rem;
	line-height: 0.8rem;
	text-overflow: ellipsis;
	overflow: hidden;
}
.index_consultinglist_wrapper .content .article {
	display: inline-block;
	width: 9.5rem;
	vertical-align: middle;
}
.index_consultinglist_wrapper .info {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.index_consultinglist_wrapper .info label {
	display: block;
	font-size: 0.7rem;
	color: #a7a7a7;
}
.index_consultinglist_wrapper .info span {
	display: inline-block;
	margin: 0.5rem auto;
	padding: 0.1rem 0.6rem;
	background-color: red;
	border-radius: 1rem;
	color: #fff;
	font-size: 0.5rem;
	vertical-align: middle;
}
.index_hotspot_wrapper {
	padding: 0 0 0 0.5rem;
	background-color: #fff;
}
.index_hotspot_wrapper ul {
	overflow: hidden;
}
.index_hotspot_wrapper li {
	padding: 0.5rem 0;
	border-bottom: 1px solid #e5e5e5;
}
.index_hotspot_wrapper li:first-child {
	border-top: 1px solid #e5e5e5;
}
.index_hotspot_wrapper li a {
	display: block;
	overflow: hidden;
}
.index_hotspot_wrapper .avatar {
	display: inline-block;
	width: 4rem;
	height: 3rem;
	vertical-align: top;
}
.index_hotspot_wrapper .content {
	display: inline-block;
	width: 10.5rem;
	vertical-align: middle;
}
.index_hotspot_wrapper .content .article label {
	display: block;
	margin: 0 0 0.3rem 0;
	height: 1.9rem;
	font-size: 0.7rem;
	overflow: hidden;
}
.index_hotspot_wrapper .content .info {
	height: 0.6rem;
	font-size: 0;
}
.index_hotspot_wrapper .content .info label {
	display: inline-block;
	font-size: 0.5rem;
	color: #999;
}

/*~~~~~~~~~~cashister.html~~~~~~~~~~*/

.cash_serviceitem_wrapper {
	padding: 0.5rem 0;
	width: 100%;
	border-top: 1px solid #ccc;
	background-color: #efefef;
}
.cash_serviceitem_wrapper p {
	font-size: 0.7rem;
	color: #999;
	text-align: center;
}
.cash_paymentmethod_wrapper ul {
	text-align: center;
}
.cash_paymentmethod_wrapper ul li {
	display: inline-block;
	margin: 0.2rem 0.5rem;
	width: 24%;
	text-align: center;
}
.cash_paymentmethod_wrapper ul li a {
	display: block;
}
.cash_paymentmethod_wrapper ul li>label {
	font-size: 0.6rem;
	color: #333;
	text-align: center;
}
.cash_paymentmethod_wrapper .icon {
	display: block;
	margin: 0 auto;
	width: 2rem;
	height: 2rem;
	text-align: center;
	font-size: 1.3rem;
	line-height: 2rem;
	border-radius: 50%;
	color: #fff;
}
.cash_paymentmethod_wrapper .weipay {
	background-color: #8dc81b;
}
.cash_paymentmethod_wrapper .alipay {
	background-color: #606974;
}
.cash_paymentmethod_wrapper .balance {
	font-size: 0.7rem;
	line-height: 2rem;
	background-color: #00a3cc;
}
/*.cash_sum_wrapper {
	padding: 7rem 0 0 0;
}*/
.cash_sum_wrapper .sum {
	display: inline-block;
	width: 48%;
	text-align: center;
	color: #e60853;
}

/*~~~~~~~~~~rapidconsultation.html~~~~~~~~~~*/

.consult_describeissue_item {
	background-color: #efefef;
}
.consult_consultmenu_wrapper {
	width: 100%;
}
.consult_consultmenu_wrapper td {
	border: 1px solid #ccc;
	width: 5rem;
	height: 5rem;
	text-align: center;
	font-size: 0.7rem;
}
.consult_consultmenu_wrapper td a {
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.consult_consultmenu_wrapper td span {
	display: block;
	margin: 0.5rem auto 0;
	width: 3rem;
	height: 3rem;
	background-repeat: no-repeat;
	background-size: 60%;
	background-position: 0.6rem;
}
.consult_consultmenu_wrapper .family span {
	background-image: url(../img/icon/family_00000.png);
}
.consult_consultmenu_wrapper .house span {
	background-image: url(../img/icon/house_00000.png);
}
.consult_consultmenu_wrapper .trafficaccident span {
	background-image: url(../img/icon/trafficaccident_00000.png);
}
.consult_consultmenu_wrapper .contractdebts span {
	background-image: url(../img/icon/contractdebts_00000.png);
}
.consult_consultmenu_wrapper .laboractivist span {
	background-image: url(../img/icon/laboractivist_00000.png);
}
.consult_consultmenu_wrapper .partnership span {
	background-image: url(../img/icon/partnership_00000.png);
}
.consult_consultmenu_wrapper .criminalresponsbility span {
	background-image: url(../img/icon/criminalresponsbility_00000.png);
}
.consult_consultmenu_wrapper .otherconsults span {
	background-image: url(../img/icon/otherconsults_00000.png);
}

/*~~~~~~~~~~rapidconsultation_step2.html~~~~~~~~~~*/

.consult_textarea_item {
	border: 0;
	padding: 0.5rem;
	width: 100%;
	height: 10rem;
	font-size: 1rem;
	box-sizing: border-box;
}
.consult_consultmethod_wrapper {
	padding: 0.5rem 0.5rem 1.5rem 0.5rem;
}
.consult_consultmethod_wrapper li {
	display: inline-block;
	margin: 0 2rem 0 0.3rem;
}

/*~~~~~~~~~~serviceevaluation.html~~~~~~~~~~*/

.evaluate_textarea_item {
	display: block;
	margin: 1rem auto;
	width: 95%;
	height: 4rem;
	padding: 0.5rem;
	font-size: 0.8rem;
	box-sizing: border-box;
}
.evaluate_unsatisfiedhint_wrapper p {
	margin: 0.5rem 0 0 0;
	text-align: center;
	line-height: 1.1rem;
	font-size: 0.5rem;
	color: #e60853
}

/*~~~~~~~~~~checkoutsuccess_popup.html~~~~~~~~~~*/

.consult_placeorder_wrapper .prompt {
	padding: 1rem 0 0 0;
	color: #eee;
	font-size: 0.8rem;
	text-align: center;
	background-color: #e60050;
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.consult_placeorder_wrapper .bg {
	background-color: #e60050;
}
.consult_placeorder_wrapper .common_avatar_wrapper {
	border-top-left-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
}
.consult_placeorder_wrapper .common_avatar_wrapper .avatar {
	position: relative;
	top: 0;
	margin: 0 auto;
	background-color: #e60050;
	z-index: 1;
	width: 5.5rem;
	height: 5.5rem;
	/*border-radius: 50%;*/
	text-align: center;
}
.consult_placeorder_wrapper .common_avatar_wrapper .countdown {
	display: inline-block;
	text-align: center;
	margin: 15%;
	width: 5.5rem;
	height: 5.5rem;
	background-color: #fff;
	border-radius: 50%;
	font-size: 0;
	color: #e60050;
	vertical-align: middle;
}
.consult_placeorder_wrapper .common_avatar_wrapper .lightspot {
	position: absolute;
	top: 0;
	width: 5.5rem;
	height: 5.5rem;
	background-image: url(../img/lightspot_00000.png);
	background-size: contain;
	background-position: -0.1rem 0;
	animation: spin 1s linear infinite;
}
@-webkit-keyframes spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
.consult_placeorder_wrapper .common_avatar_wrapper .countdown span, .consult_placeorder_wrapper .common_avatar_wrapper .countdown label {
	display: inline-block;
	vertical-align: middle;
	margin: 0.8rem 0;
	font-size: 1.6rem;
}
.consult_placeorder_wrapper .tackle {
	display: block;
	margin: 0.5rem auto;
	width: 2.5rem;
}
.consult_posleaveword_wrapper {
	padding: 0.5rem;
	line-height: 1.2rem;
	font-size: 0.7rem;
	color: #666;
	text-align: center;
}
.checkoutsuccess_cancel {
	display: inline-block;
	width: 8rem;
	height: 1.5rem;
	line-height: 1.5rem;
	color: #666;
	font-size: 0.8rem;
	border: 1px solid #e60050;
	border-radius: 0.2rem;
}

/*~~~~~~~~~~chatinterface.html~~~~~~~~~~*/

.chatinterface_main_wrapper {
	padding: 0 0 2rem 0;
	background: #e8e8e8;
}
.chatinterface_hint_wrapper {
	margin: 0.3rem 0;
	width: 100%;
	text-align: center;
}
.chatinterface_hint_wrapper .system {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	border-radius: 2rem;
	background-color: #bfbfbf;
	color: #fff;
	text-align: center;
	font-size: 0.5rem;
}
.chatinterface_hint_wrapper .time {
	font-size: 0.5rem;
	color: #8a8f92;
	vertical-align: top;
}
.chatinterface_hint_wrapper .time span, .chatinterface_hint_wrapper .time label {
	display: inline-block;
	vertical-align: middle;
	font-size: 0.5rem;
}
.chatinterface_hint_wrapper .time span {
	margin: 0 0.2rem
}
.chatinterface_introduce_wrapper {
	margin: 0.5rem 0;
	width: 100%;
	text-align: center;
	color: #646464;
	font-size: 0.6rem;
}
.chatinterface_introduce_wrapper span {
	color: #e60050;
}
.chatinterface_dialog_wrapper {
	margin: 0.7rem 0;
}
.chatinterface_dialog_wrapper .avatar {
	display: inline-block;
	margin: 0 0.17rem;
	width: 2rem;
	height: 2rem;
	vertical-align: top;
}
.chatinterface_dialog_wrapper .avatar img {
	display: block;
	width: 100%;
	border-radius: 50%;
	box-shadow: 2px 2px 2px #ccc;
}
.chatinterface_dialog_wrapper .message {
	display: inline-block;
	vertical-align: top;
}
.chatinterface_dialog_wrapper .message p {
	display: inline-block;
	padding: 0.2rem 0.3rem;
	width: 10rem;
	border-radius: 0.3rem;
	font-size: 0.6rem;
	position: relative;
}
.chatinterface_dialog_wrapper .message .right {
	background-color: #2fc8b4;
	color: #fff;
	border: 1px solid #2fc8b4;
}
.chatinterface_dialog_wrapper .message .left {
	color: #999;
	background-color: #fff;
	border: 1px solid #ededed;
}
.chatinterface_dialog_wrapper .message p:after {
	content: '';
	display: block;
	position: absolute;
	top: 0.7rem;
	border-style: solid;
}
.chatinterface_dialog_wrapper .message .left:after {
	left: -0.3rem;
	border-width: 0.3rem 0.3rem 0.3rem 0;
	border-color: transparent #fff transparent transparent;
}
.chatinterface_dialog_wrapper .message .right:after {
	right: -0.3rem;
	border-width: 0.3rem 0 0.3rem 0.3rem;
	border-color: transparent transparent transparent #2fc8b4;
}
.chatinterface_dialog_wrapper .message .interact {
	width: 100%;
}
.chatinterface_dialog_wrapper .interact li {
	display: inline-block;
	margin: 0.4rem 0;
	text-align: center;
}
.chatinterface_dialog_wrapper .interact li a {
	display: inline-block;
	padding: 0.2rem 0.5rem;
	color: #fff;
	font-size: 0.6rem;
	background-color: #2fc8b4;
	border-radius: 1rem;
}
.chatinterface_dialog_wrapper .service {
	display: inline-block;
	width: 10.7rem;
	background-color: #fff;
	border-radius: 0.2rem;
	overflow: hidden;
}
.chatinterface_dialog_wrapper .service p {
	width: 100%;
	padding: 0.5rem;
	line-height: 1rem;
	font-size: 0.6rem;
	box-sizing: border-box;
	border-top: 2px solid #e62758;
}
.chatinterface_dialog_wrapper .service ul {
	border-top: 1px solid #f3f3f3;
	text-align: center;
}
.chatinterface_dialog_wrapper .service ul li {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	font-size: 0;
}
.chatinterface_dialog_wrapper .service ul li:first-child {
	border-right: 1px solid #f3f3f3;
}
.chatinterface_dialog_wrapper .service ul li a {
	display: block;
	line-height: 1.5rem;
	font-size: 0.6rem;
	height: 1.5rem;
	color: #e62758;
}
.chatinterface_dialog_wrapper .service .title_wrapper {
	padding: 0.2rem 0;
	background-color: #e62758;
	font-size: 0;
}
.chatinterface_dialog_wrapper .service label, .chatinterface_dialog_wrapper .service span {
	display: inline-block;
	color: #fff;
	font-size: 0.7rem;
	vertical-align: middle;
}
.chatinterface_dialog_wrapper .service span {
	display: inline-block;
	margin: 0.1rem 0.2rem 0 0.2rem;
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
}
.chatinterface_dialog_wrapper .service .phonecallservice {
	background: url(../img/icon/phonecallservice_00000.png);
	background-size: contain;
}
.chatinterface_dialog_wrapper .service .title {
	width: 5.5rem;
}
.chatinterface_dialog_wrapper .service .price {
	width: 3rem;
	text-align: right;
}

/*~~~~~~~~~~sendthemind_popup.html~~~~~~~~~~*/

.encouragementpentagram {
	display: block;
	margin: 0.5rem auto;
	width: 3rem;
}